.firstWordType
{
	color: blue;
	font-family: system-ui;
}
.onlyOneWord
{
	color: green;
	font-family: Helvetica;
	font-style: italic;
}
span.secondWordType.firstSubClass
{
	color: brown;
	font-family: cursive;
	font-weight: 500;
	font-size: 32px;
}
span.secondWordType.secondSubClass
{
	color: brown;
	font-family: Arial;
	font-weight: 900;
	font-size: 8px;

}
.divTable
{
    display:  table;
    width: auto;
    background-color: #eee;
    border: 1px solid  #666666;
    
}
.divRow
{
    display: table-row;
    width: auto;
}
.divCell
{
    display: table-column;
    width: 200px;
    background-color: #ccc;
    border: 1px solid  #666666;
}
.headCell
{
    float: left;
    display: table-column;
    width: 200px;
    background-color: #eee;
    border: 1px solid  #666666;
}

.spaceTable
{
    border-spacing: 0 13px;
    margin-bottom: 15px
}
