<table id="solution_table">
    <tr>
        <th>Number</th><th>Digit</th>
    </tr>
    <% position = 0 %>
    <% @range.each_with_index do |element, index| %>
        <% if @compare[index] %>
            <% position += 1 %>
            <% element_tag = "<td class=element-#{position}>#{element}</td>" %>
            <tr>
                <td><%= position %></td><%= element_tag.html_safe %>
            </tr>
        <% end %> 
    <% end %>
</table>
