<h1>Example#show</h1>
<table>
    <tr>
        <th>Number</th><th>Digit</th>
    </tr>
    <% count = 0 %>
    <% @range.each_with_index do |element, index| %>
        <% if @compare[index] %>
            <% count += 1 %>
            <tr>
                <td><%= count %></td><td><%= element %></td>
            </tr>
        <% end %> 
    <% end %>
</table>
<%= button_to 'back', root_path, method: :get %>