<h1>Example#show</h1>
<table>
    <tr>
        <th>Number</th><th>Digit</th>
    </tr>
    <% @range.each_with_index do |element, index| %>
        <% if @compare[index] %>
            <tr>
                <th><%= index + 1 %></th><th><%= element %></th>
            </tr>
        <% end %> 
    <% end %>
</table>
<%= link_to '<button>Back</button>'.html_safe, root_path %>